<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AnalogClock.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <AnalogClock.Properties.Settings>
            <setting name="PreviousFile" serializeAs="String">
                <value />
            </setting>
            <setting name="ClockTextForeground_R" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ClockTextForeground_G" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ClockTextForeground_B" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SecondLine_R" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SecondLine_G" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SecondLine_B" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MinuteLine_R" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MinuteLine_G" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MinuteLine_B" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="HourLine_R" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="HourLine_G" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="HourLine_B" serializeAs="String">
                <value>0</value>
            </setting>
        </AnalogClock.Properties.Settings>
    </userSettings>
</configuration>